
/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-family: cursive;
  font-size: 3em;
}


div {
position: relative;
float: left;
padding: 10px;
margin: 10px;
}

p {
  width: 60%;
  text-align: center;
  float: right;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  font-family: Lucidatypewriter, monospace;
  padding: 10px;
  border: 1px solid black;
  margin: auto;
}

#chicken{
  background:#bf696f;
  color: yellow;
}


#beef{
  background:white;
  color: red;
}

#sushi{
  background:#dbba79;
  color: black;
}

section{
  border: 1px solid black;
  font-family: Times;

}

#menu1 {
  background: yellow;
  padding: 70px 20px 10px 20px;
  font-size: 2em;

  color: rebeccapurple;
}

#menu2 {
  background: red;
  padding: 70px 20px 10px 20px;
  font-size: 2em;
  color: white;
}

#menu3 {
  background: orange;
  padding: 70px 20px 10px 20px;
  font-size: 2em;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
 }

/********** For Desktop devices only **********/
@media (min-width: 992px) {
  .col-lg-3 {
    float: left;
  }
  .col-lg-3 {
    width: 30%;
  }
}

/********** For Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2 {
    float: left;
  }
  .col-md-1 {
    width: 92.5%;
  }
  .col-md-2 {
    width: 45%;
  }
}

/********** For Mobile devices only **********/
@media (max-width: 767px) {
  .col-xs-1 {
    float: left;
  }
  .col-xs-1 {
    width: 100%;
  }
}